<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>    
<table class="table table-bordered">
		<header>
			<tr>
				<td>Nombres</td>
				<td>Nit</td>
				<td>Programa</td>
				<td>Libro</td>
				<td>Acta</td>
			</tr>	
		</header>	

<body>
		
		{% for alumno in prueba %}  
    	
    		<tr>
				<td>{{alumno.nombres}}</td>
				<td>{{alumno.nit }}</d>
				<td>{{alumno.programa}}</td>
				<td>{{alumno.libro}}</td>
				<td>{{alumno.acta}}</td>
								
			</tr>	
</body>
			<!--<p><a href="/alumno/{{p.id}}/">{{p.nombres}}</a></p>!-->
	{% endfor %}
</table>	
	
    

</html>