<!DOCTYPE html>
<html lang="en">
	<HEAD>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		
		
		<TITLE>{% block title %} Bienvenidos {% endblock %}</TITLE>
		<link rel="stylesheet"href="/media/bootstrap/css/bootstrap.css"> 
		<link rel="stylesheet"href="/media/bootstrap/css/bootstrap.responsive.css"> 

		<script src="/media/bootstrap/js/bootstrap-hover-dropdown.js"></script>
		<script src="/media/bootstrap/js/bootstrap-hover-dropdown.mim"></script>
		<script src="/media/bootstrap/js/bootstrap.mim"></script>
		<style type= "text/css">

		
			body{
				padding-top: 180px;
				padding-left: 60px;
				padding-bottom: 60px;


			}
			.sidebar-nav{
						padding: 9px 0;
			}
		</style>
	</HEAD>
<BODY>
		
		<!--<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">!-->
		<nav role="navigation"class="navbar navbar-default navbar-inverse navbar-fixed-top">
			<img src="/media/img/logo.gif"/>
			<div class="navbar-header">
				<button type="button"data-target="#navbarCollapse"data-toggle="collapse"class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					

				</button>
				
			</div>
			<div id="navbarCollapse"class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href='/'>Inicio</a></li>

				{% if user.is_authenticated %}
				
				<p class="navbar-text pull-right">
													Usuario :  {{user.username}}
				</p>
				
				{% endif %}


					<li><a href='/contactos'>Contacto</a></li>
					{% if user.is_superuser = True %}
					<li><a href='/alumnos/page/1'>Alumnos</a></li>
					<li><a href='/agregar'>Registrar</a></li>
					<li><a href='/programas'>Programas</a></li>
					<li><a href='/pruebas'>Pruebas</a></li>
					{% endif %}
					{% if user.is_authenticated %}
						<li><a href='/search'>Buscar Datos</a></li>

						<li class="dropdown"><a href="/pdfs"class="dropdown-toggle"data-toggle="dropdown">Reportes<b class="caret"></b></a>
							<!---<a data-toggle="dropdown"class="dropdown-toggle"href="#">Reportes<b class="caret"></b></a>!-->
							<!--<a href="#"class="dropdown-toggle"data-toggle="dropdown"data-hover="dropdown" data-delay="1000"data-close-others="false">Reportes <b class="caret"></b></a>
							<ul role="menu"class="dropdown-menu">!-->
							<ul class="dropdown-menu">


								<li><a  href="/reporte">Graduados Por Fecha</a></li>
								<li><a  href="/consultar">Graduados Por Programa</a></li>
								<li><a  href="/programas1">Reporte Programas</a></li>
							</ul>
						</li>

					{% endif %}
					{% if user.is_authenticated %}
					 <li> <a href='/logout'>Salir</a></li>
					{% else %}
					
						<li><a href='/login'>Ingresar</a></li>
					{% endif %}
					<li><a href='/about'>Acerca de...</a></li>
				</ul>
			</div>
		</nav>			





				
				<!--<ul class="navbar-inverse navbar-fixed-top">!-->
					
				

			<!--<div class="span3">
				<div class"well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header"> Prueba</li>
						<br><p align="justify">
							Mas pruebas
						<p>	
					</ul>
				</div> <!-- cierre del well !-->
			<!--</div>	<!-- cierre span3 !-->
			
			{% block content %}
			{% endblock %}
			<br>
			<footer>
				<p>&copy; Realizado por Wenceslao</p>
			</footer>
				
						<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
						<!--<script src="/media/js/jquery.min.js"></script>!-->

						
						<script src="/media/bootstrap/js/bootstrap.js"></script>
	

</BODY>	
</html>	





